<?php

namespace RoundingWell\Redox\Messages\PatientAdmin;

use RoundingWell\Redox\MessageTestCase;
use RoundingWell\Redox\Message\%group%\%message%;

class %message%Test extends MessageTestCase
{
    protected function sampleFile()
    {
        return $this->samplePath() . strtolower('/%group%/%message%.json');
    }

    protected function messageClass()
    {
        return %message%::class;
    }
}
